#home {
    transform-origin: top center;
}

.bg-img {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    top: -4vh;
}

.bg1 img {
    width: 37rem;
    margin-left: 3rem;
}

.bg2 img {
    width: 55rem;
    margin-left: 37rem;
    margin-top: 0;
}

.bg3 img {
    width: 10rem;
    position: absolute;
    top: 12.4rem;
    left: 12.7rem;
    z-index: -1;
    transform: translateX(-50%);
}

.bento-box {
    background: linear-gradient(to bottom, #E0FD48, #D6FF00);
    width: 90vw;
    height: 107vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7.5vh;
    margin-bottom: 13rem;
    border-radius: 70px;
    z-index: -1;
    overflow: hidden;
}

.home {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    width: 80vw;
    margin: 0 auto;
}

.home-left {
    position: relative;
    z-index: 1;
    grid-column: span 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 27rem;
    margin-bottom: auto;
}

.homeTxt {
    margin-bottom: 2rem;
}

.mockAll {
    grid-column: span 1;
}

.homeKey {
    align-self: flex-start;
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.hk1 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #000000;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
    height: 2.5rem;
    margin: 0;
    padding: 0;
}

.hk2 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #000000;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
    height: 2.5rem;
    margin: 0;
    padding: 0;
}

.hk3 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #000000;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
    height: 2.5rem;
    margin: 0;
    padding: 0;
}

.hk4 {
    grid-column: span 3;
    grid-row: span 1;
    border-radius: 100px;
    background-color: #000000;
    border: 1.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin: 0;
    padding: 0;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #E0FD48;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.circle img {
    width: 50%;
}

.mockUp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    gap: 2vw;
    margin-top: -8vh;
}

.mock1 {
    width: 20rem;
}

.mock1 img {
    width: 100%;
    margin-top: 10rem;
}

.mock2 {
    width: 18.8rem;
}

.mock2 img {
    width: 100%;
}

.star-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47rem;
    margin-top: -15rem;
    background-color: #101010;
}

.star-container img {
    width: 70%;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.video-container video {
    width: 550%;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    height: auto;
    object-fit: cover;
}


.scrollToTopBtn {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: none;
    background-color: #1e1e1e;
    color: #E0FD48;
    border: solid 1.5px #101010;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 10;
}

.scrollToTopBtn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: #E0FD48;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    z-index: 0;
}

.scrollToTopBtn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.scrollToTopBtn:hover {
    color: #1e1e1e;
}

.scrollToTopBtn .top {
    position: relative;
    z-index: 1;
    transition: color 0.1s ease;
}